{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Node edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('node',{'idPlace': idPlace,'idZone':entity.zone.id,'idNode':entity.id }) }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
