{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Node list</h1>

    <table class="records_list">
        <thead>
            <tr>
                
                <th><ul>Name</ul></th>
                <th><ul>Ipadress</ul></th>
                <th><ul>Security</ul></th>
                <th><ul>Actions</ul></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td><ul>{{ entity.name }}</ul></td>
                <td><ul>{{ entity.ipAdress }}</ul></td>
                <td><ul>{{ entity.security }}</ul></td>
         
                 <td>
                     <button>
                        <a href="{{ path('node_edit', { 'id': entity.id,'idPlace':idPlace,'idZone':idZone }) }}">edit</a>
                     </button>
                 </td>
                 <td> 
                         <button>
                            <a>manage</a> 
                         </button>
                 </td>
                 <td>
                    {{ form(deleteForms [entity.id],[idPlace],[idZone]) }}
                 </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
   
            <button >
                    <a href="{{ path('node_new',{ 'idPlace':idPlace,'idZone':idZone }) }}">add Node</a>
            </button>
          

    </ul>
    {% endblock %}
