{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Node</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Ipadress</th>
                <td>{{ entity.ipAdress }}</td>
            </tr>
            <tr>
                <th>Security</th>
                <td>{{ entity.security }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('node', {'idPlace': idPlace,'idZone':idZone }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('node_edit', {'idPlace': idPlace,'idZone':idZone,'id':entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
