{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row" style="margin-bottom:5px;">


        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                <div class="sm-st-info">
                    <span>3200</span>
                    Total Tasks
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-violet"><i class="fa fa-envelope-o"></i></span>
                <div class="sm-st-info">
                    <span>2200</span>
                    Total Messages
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-blue"><i class="fa fa-dollar"></i></span>
                <div class="sm-st-info">
                    <span>100,320</span>
                    Total Profit
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-green"><i class="fa fa-paperclip"></i></span>
                <div class="sm-st-info">
                    <span>4567</span>
                    Total Documents
                </div>
            </div>
        </div>
    </div>

    <!-- Main row -->
    <div class="row">

        <div class="col-md-8">
            <!--earning graph start-->
            <section class="panel">
                <header class="panel-heading">
                    Earning Graph
                </header>
                <div class="panel-body">
                    <canvas id="linechart" width="600" height="330"></canvas>
                </div>
            </section>
            <!--earning graph end-->

        </div>
        <div class="col-lg-4">

            <!--chat start-->

            <div class="panel">
                <header class="panel-heading">
                    Teammates
                </header>

                <ul class="list-group teammates">
                    {% for user in users %}
                        <li class="list-group-item">{{ user.username|e }}
                            <span class="pull-right label label-danger inline m-t-15"></span>
                        </li>
                    {% endfor %}


                </ul>
            </div>



        </div>


    </div>
{% endblock %}
