{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sensor list</h1>

    <table class="records_list">
        <thead>
            <tr>
               
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sensor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sensor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sensor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
