<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Cobra |
            {% endblock %}
        </title>

        {% block css %}
            <!-- bootstrap 3.0.2 -->
            <link href="{{ asset('bundles/anonymouscobra/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- font Awesome -->
            <link href="{{ asset('bundles/anonymouscobra/css/font-awesome.min.css')}}" 
                  rel="stylesheet" type="text/css"/>
            <!-- Ionicons -->
            <link href="{{ asset('bundles/anonymouscobra/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- Morris chart -->
            <link href="{{ asset('bundles/anonymouscobra/css/morris/morris.css')}}" rel="stylesheet" type="text/css" />
            <!-- jvectormap -->
            <link href="{{ asset('bundles/anonymouscobra/css/jvectormap/jquery-jvectormap-1.2.2.css')}}" 
                  rel="stylesheet" type="text/css" />
            <!-- Date Picker -->
            <link href="{{ asset('bundles/anonymouscobra/css/datepicker/datepicker3.css')}}" rel="stylesheet" 
                  type="text/css" />
            <!-- fullCalendar -->
            <!-- <link href="{{ asset('bundles/anonymouscobra/css/fullcalendar/fullcalendar.css')}}" 
            rel="stylesheet" type="text/css" /> -->
            <!-- Daterange picker -->
            <link href="{{ asset('bundles/anonymouscobra/css/daterangepicker/daterangepicker-bs3.css')}}" 
                  rel="stylesheet" type="text/css" />
            <!-- iCheck for checkboxes and radio inputs -->
            <link href="{{ asset('bundles/anonymouscobra/css/iCheck/all.css')}}" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <!-- <link href="{{ asset('bundles/anonymouscobra/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" 
            rel="stylesheet" type="text/css" /> -->
            <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
            <!-- Theme style -->
            <link href="{{ asset('bundles/anonymouscobra/css/style.css')}}" rel="stylesheet" type="text/css" />

        {% endblock %}

        {% block js %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
              <![endif]-->
        {% endblock %}
    </head>
    <body class="skin-black">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="index.html" class="logo">
                Director
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                {%if  app.user %}
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <span>{{ app.user.username }} <i class="caret"></i></span>
                                </a>
                                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                    <li class="dropdown-header text-center">Account</li>

                                    <li>
                                        <a href="{{ path('sonata_user_profile_show')}}">
                                            <i class="fa fa-user fa-fw pull-right"></i>Profile / Setings</a>
                                    </li>

                                    <li>
                                        <a href="{{ path('sonata_user_security_logout')}}">
                                            <i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    {%if app.user %}
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="{{ asset('bundles/anonymouscobra/img/26115.jpg')}}" class="img-circle" 
                                     alt="User Image" />
                            </div>

                            <div class="pull-left info">
                                <p>Hello, {{ app.user.username }}</p>

                                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- search form
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search place, zone,...."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat">
                                    <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="{{ path('homepage') }}">
                                <i class="fa fa-glass"></i> <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('news')}}">
                                <i class="fa fa-glass"></i> <span>News</span>
                            </a>
                        </li>

                        {%if app.user %}
                            <li>
                                <a href="{{ path('dashboard') }}">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('place') }}">
                                    <i class="fa fa-gavel"></i> <span>Place</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('log') }}">
                                    <i class="fa fa-glass"></i> <span>Log</span>
                                </a>
                            </li>

                        {% endif %}
                        {%if not app.user %}
                            <li>
                                <a onClick="displayLogin();" class="btn btn-primary btn-lg" data-toggle="modal" 
                                   data-target="#myModalLogin">
                                    <i class="fa fa-glass"></i> <span>Login</span>
                                </a>
                            </li>

                            <li>
                                <a onClick="" class="btn btn-primary btn-lg" data-toggle="modal" 
                                   data-target="#myModalRegister" >
                                    <i class="fa fa-glass"></i> <span>Register</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <aside class="right-side">

                <!-- Main content -->
                <section class="content">

                    <!-- Main row -->

                    {% block body %}

                    {% endblock %}
                    <!-- row end -->
                </section><!-- /.content -->
                <div class="footer-main">
                    Copyright &copy Director, 2014
                </div>
            </aside><!-- /.right-side -->

        </div><!-- ./wrapper -->

        {{ render (controller('FOSUserBundle:Security:login')) }}
        {{ render (controller('FOSUserBundle:Registration:register'))  }}
        
        
        <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Vous n'avez pas encore de Place</h4>
                        </div>
                        <div class="modal-body">
                            <button class="btn-default btn">
                                <a  href="{{ path('place_new') }}">Ajouter votre premiere Place</a>
                            </button>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                Ajouter plus tard
                             </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                        
                        
        
        
        {% block javascript %}
            <!-- jQuery 2.0.2 -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <script src="{{ asset('bundles/anonymouscobra/js/jquery.min.js')}}" type="text/javascript"></script>

            <!-- jQuery UI 1.10.3 -->
            <script 
                src="{{ asset('bundles/anonymouscobra/js/jquery-ui-1.10.3.min.js')}}" type="text/javascript">
            </script>
            <!-- Bootstrap -->
            <script src="{{ asset('bundles/anonymouscobra/js/bootstrap.min.js')}}" type="text/javascript"></script>
            <!-- daterangepicker -->
            <script src="{{ asset('bundles/anonymouscobra/js/plugins/daterangepicker/daterangepicker.js')}}" 
            type="text/javascript"></script>

            <script src="{{ asset('bundles/anonymouscobra/js/plugins/chart.js')}}" type="text/javascript"></script>

            <!-- datepicker
            <script src="{{ asset('bundles/anonymouscobra/js/plugins/datepicker/bootstrap-datepicker.js')}}
            "type="text/javascript"></script>-->

            <!-- Bootstrap WYSIHTML5
            <script src="{{ asset('bundles/anonymouscobra/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"
            type="text/javascript"></script>-->

            <!-- iCheck -->
            <script 
                src="{{ asset('bundles/anonymouscobra/js/plugins/iCheck/icheck.min.js')}}" type="text/javascript">
            </script>
            <!-- calendar -->
            <script 
                src="{{ asset('bundles/anonymouscobra/js/plugins/fullcalendar/fullcalendar.js')}}" 
                type="text/javascript">
            </script>

            <!-- Director App -->
            <script src="{{ asset('bundles/anonymouscobra/js/Director/app.js')}}" type="text/javascript"></script>

            <!-- Director dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('bundles/anonymouscobra/js/Director/dashboard.js')}}" type="text/javascript"></script>

            <!-- Director for demo purposes -->
            <script type="text/javascript">
                                    $('input').on('ifChecked', function (event) {
                                        // var element = $(this).parent().find('input:checkbox:first');
                                        // element.parent().parent().parent().addClass('highlight');
                                        $(this).parents('li').addClass("task-done");
                                        console.log('ok');
                                    });
                                    $('input').on('ifUnchecked', function (event) {
                                        // var element = $(this).parent().find('input:checkbox:first');
                                        // element.parent().parent().parent().removeClass('highlight');
                                        $(this).parents('li').removeClass("task-done");
                                        console.log('not');
                                    });

            </script>
            <script>
                $('#noti-box').slimScroll({
                    height: '400px',
                    size: '5px',
                    BorderRadius: '5px'
                });

                $('input[type="checkbox"].flat-grey, input[type="radio"].flat-grey').iCheck({
                    checkboxClass: 'icheckbox_flat-grey',
                    radioClass: 'iradio_flat-grey'
                });
            </script>
            <script type="text/javascript">
                $(function () {
                    "use strict";
                    //BAR CHART
                    var data = {
                        labels: ["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [
                            {
                                label: "My First dataset",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: [65, 59, 80, 81, 56, 55, 40]
                            },
                            {
                                label: "My Second dataset",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: [28, 48, 40, 19, 86, 27, 90]
                            }
                        ]
                    };
                    new Chart(document.getElementById("linechart").getContext("2d")).Line(data, {
                        responsive: true,
                        maintainAspectRatio: false
                    });

                });
                // Chart.defaults.global.responsive = true;
            </script>
        {% endblock %}
    </body>
</html>