{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Place</h1>
    <table>
        <thead>
            <tr> 
                <td>City</td>

                <td><select name ="City">
                        {% for city in entitiesCity %}
                            <option>{{ city.city }}{% endfor %}
                        </select>

                    </td>
                    <td>Owner</td>
                    <td>
                        <select name ="Owner">
                            {% for entity in entities %}
                                <option>{{ entity.owner }} {% endfor %}

                            </select>
                        </td>
                    </tr>

                </thead>


            </table>
            <table class="records_list">

                <thead>
                    <tr>

                        <th><ul>Name</ul></th>
                        <th><ul>Adress</ul></th>
                        <th><ul>City</ul></th>
                        <th><ul>Owner</ul></th>
                        <th><ul>Number Zone</ul></th>
                        <th><ul>Actions</ul></th>
                    </tr>
                </thead>
                <tbody>
                   

                    {% for entity in entities %}
                        <tr>        
                            <td><ul>{{ entity.name }}</ul></td>
                            <td><ul>{{ entity.adress }}</ul></td>
                            <td><ul>{{ entity.city.city }}</ul></td>
                            <td><ul>{{ entity.owner }}</ul></td>
                            <td><ul>{{ result[entity.id].count }}</ul></td>
                            <td>
                                <button class="btn-default btn">
                                    <a  href="{{ path('place_edit', { 'id': entity.id }) }}">edit</a>
                                </button>
                            </td>
                            <td> 
                                <button class="btn-default btn">
                                    <a href="{{ path('zone', { 'idPlace': entity.id}) }}">manage</a> 
                                </button>
                            </td>
                            <td>
                                {{ form(deleteForms [entity.id]) }}
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

            <ul>
                <button class="btn-default btn">
                    <a>invit friend</a>
                </button>
                <button class="btn-default btn">
                    <a href="{{ path('place_new') }}">add Place</a>
                </button>

            </ul>
            {% endblock %}
