<!DOCTYPE html>
{% block css %}
    <!-- bootstrap 3.0.2 -->
    <link href="{{ asset('bundles/anonymouscobra/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="{{ asset('bundles/anonymouscobra/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{{ asset('bundles/anonymouscobra/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="{{ asset('bundles/anonymouscobra/css/morris/morris.css')}}" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="{{ asset('bundles/anonymouscobra/css/jvectormap/jquery-jvectormap-1.2.2.css')}}" rel="stylesheet" 
          type="text/css" />
    <!-- Date Picker -->
    <link href="{{ asset('bundles/anonymouscobra/css/datepicker/datepicker3.css')}}" rel="stylesheet" 
          type="text/css" />
    <!-- fullCalendar -->
    <!-- <link href="{{ asset('bundles/anonymouscobra/css/fullcalendar/fullcalendar.css')}}" 
    rel="stylesheet" type="text/css" /> -->
    <!-- Daterange picker -->
    <link href="{{ asset('bundles/anonymouscobra/css/daterangepicker/daterangepicker-bs3.css')}}" 
          rel="stylesheet" type="text/css" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link href="{{ asset('bundles/anonymouscobra/css/iCheck/all.css')}}" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <!-- <link href="{{ asset('bundles/anonymouscobra/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" 
    rel="stylesheet" type="text/css" /> -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- Theme style -->
    <link href="{{ asset('bundles/anonymouscobra/css/style.css')}}" rel="stylesheet" type="text/css" />
    <!-- Modal CSS-->
    <link href="{{ asset('bundles/anonymouscobra/css/Mycss/modalcss.css')}}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block js %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
{% endblock %}
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
