{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
            Le passage de Lorem Ipsum standard, utilisé depuis 1500

"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

Section 1.10.32 du "De Finibus Bonorum et Malorum" de Ciceron (45 av. J.-C.)

"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 
ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel 
illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

Traduction de H. Rackham (1914)

"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage 
from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying 
consequences, or one who avoids a pain that produces no resultant pleasure?"

Section 1.10.33 du "De Finibus Bonorum et Malorum" de Ciceron (45 av. J.-C.)

"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti 
atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita 
distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime 
placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut 
officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
perferendis doloribus asperiores repellat."

Traduction de H. Rackham (1914)

"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the 
charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to 
ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying 
through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every
pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the
obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise
man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater
pleasures, or else he endures pains to avoid worse pains."
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <!-- bootstrap 3.0.2 -->
            <link href="{{ asset('bundles/anonymouscobra/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- font Awesome -->
            <link href="{{ asset('bundles/anonymouscobra/css/font-awesome.min.css')}}" 
                  rel="stylesheet" type="text/css"/>
            <!-- Ionicons -->
            <link href="{{ asset('bundles/anonymouscobra/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- Morris chart -->
            <link href="{{ asset('bundles/anonymouscobra/css/morris/morris.css')}}" rel="stylesheet" type="text/css" />
            <!-- jvectormap -->
            <link href="{{ asset('bundles/anonymouscobra/css/jvectormap/jquery-jvectormap-1.2.2.css')}}" 
                  rel="stylesheet" type="text/css" />
            <!-- Date Picker -->
            <link href="{{ asset('bundles/anonymouscobra/css/datepicker/datepicker3.css')}}" rel="stylesheet" 
                  type="text/css" />
            <!-- fullCalendar -->
            <!-- <link href="{{ asset('bundles/anonymouscobra/css/fullcalendar/fullcalendar.css')}}" 
            rel="stylesheet" type="text/css" /> -->
            <!-- Daterange picker -->
            <link href="{{ asset('bundles/anonymouscobra/css/daterangepicker/daterangepicker-bs3.css')}}" 
                  rel="stylesheet" type="text/css" />
            <!-- iCheck for checkboxes and radio inputs -->
            <link href="{{ asset('bundles/anonymouscobra/css/iCheck/all.css')}}" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <!-- <link href="{{ asset('bundles/anonymouscobra/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" 
            rel="stylesheet" type="text/css" /> -->
            <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
            <!-- Theme style -->
            <link href="{{ asset('bundles/anonymouscobra/css/style.css')}}" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{{ asset('bundles/anonymouscobra/css/Mycss/modalcss.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
