<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <p>{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
    <p>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}: {{ user.lastname }}</p>
    <p>{{ 'profile.show.website'|trans({}, 'FOSUserBundle') }}: {{ user.website }}</p>
    <p>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}: {{ user.gender }}</p>
    <p>{{ 'profile.show.phone'|trans({}, 'FOSUserBundle') }}: {{ user.phone }}</p>
    <p>{{ 'profile.show.dateOfBirth'|trans({}, 'FOSUserBundle') }}: {{ user.dateOfBirth|date()}}</p>
    <p>{{ 'profile.show.locale'|trans({}, 'FOSUserBundle') }}: {{ user.locale }}</p>
    <p>{{ 'profile.show.timezone'|trans({}, 'FOSUserBundle') }}: {{ user.timezone }}</p>
</div>
<div>
    <a href="{{path('sonata_user_profile_edit')}}" class="btn btn-primary"> Edit profile</a>
</div>