{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Zone edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('zone', {'idPlace': idPlace }) }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
