{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Zone list</h1>

    <table class="records_list">
        <thead>
            <tr>
                
                <th><ul>Name</ul></th>
                <th><ul>Place</ul></th>
                <th><ul>Isindoor</ul></th>
                <th><ul>Number node</ul></th>
                <th><ul>Actions</ul></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
           <tr>        
             <td><ul>{{ entity.name }}</ul></td>
             <td><ul>{{ entity.place.name }}</ul></td>
             <td><ul>{{ entity.isindoor }}</ul></td>
             <td><ul>{{ result[entity.id].count }}</ul></td>
            
             <td>
                <button>
                   <a href="{{ path('zone_edit', { 'id': entity.id,  'idPlace': idPlace }) }}">edit</a>
                </button>
             </td>
                <td>
                    <button>
                       <a href="{{ path('node', { 'idZone': entity.id, 'idPlace': idPlace}) }}">manage</a> 
                     </button>
                </td>
                <td>
                  {{ form(deleteForms [entity.id],[idPlace])}}
                </td>
                
                <td> 
                    <button>
                    <a href="{{ path('node_new',{ 'idPlace':idPlace,'idZone':entity.id }) }}">add node</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul> 
            <button >
                <a href="{{ path('zone_new',{ 'idPlace':idPlace}) }}">add Zone</a>
            </button>
        </ul>
    {% endblock %}
