{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <script>
        function displayLogin() {
            $('#modalLogin').addClass('cModalDisplay');
        }
    </script>

    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLogin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group">
                            <label for="username" class="col-lg-2 col-sm-2 control-label">
                                {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
                            </label>

                            <div class="col-lg-10">
                                <input type="text" id="username" class="form-control" name="_username" 
                                       value="{{ last_username }}" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-lg-2 col-sm-2 control-label">
                                {{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
                            </label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="password" name="_password" required="required" />
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="checkbox">
                                    <label for="remember_me" type="checkbox">
                                        <input type="checkbox" id="remember_me"/>  
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                                       value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                        </div>
                            <a href="{{'fos_user_change_password' }}"> Forgot your password? </a>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock fos_user_content %}
