
    {{ form_errors(form) }}


            {% block fos_user_content %}
                {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
            {% endblock fos_user_content %}

