{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
            Le passage de Lorem Ipsum standard, utilisé depuis 1500

"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

Section 1.10.32 du "De Finibus Bonorum et Malorum" de Ciceron (45 av. J.-C.)

"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 
ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel 
illum qui dolorem eum fugiat quo voluptas nulla pariatur?"


            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <!-- bootstrap 3.0.2 -->
            <link href="{{ asset('bundles/anonymouscobra/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- font Awesome -->
            <link href="{{ asset('bundles/anonymouscobra/css/font-awesome.min.css')}}" 
                  rel="stylesheet" type="text/css"/>
            <!-- Ionicons -->
            <link href="{{ asset('bundles/anonymouscobra/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- Morris chart -->
            <link href="{{ asset('bundles/anonymouscobra/css/morris/morris.css')}}" rel="stylesheet" type="text/css" />
            <!-- jvectormap -->
            <link href="{{ asset('bundles/anonymouscobra/css/jvectormap/jquery-jvectormap-1.2.2.css')}}" 
                  rel="stylesheet" type="text/css" />
            <!-- Date Picker -->
            <link href="{{ asset('bundles/anonymouscobra/css/datepicker/datepicker3.css')}}" rel="stylesheet" 
                  type="text/css" />
            <!-- fullCalendar -->
            <!-- <link href="{{ asset('bundles/anonymouscobra/css/fullcalendar/fullcalendar.css')}}" 
            rel="stylesheet" type="text/css" /> -->
            <!-- Daterange picker -->
            <link href="{{ asset('bundles/anonymouscobra/css/daterangepicker/daterangepicker-bs3.css')}}" 
                  rel="stylesheet" type="text/css" />
            <!-- iCheck for checkboxes and radio inputs -->
            <link href="{{ asset('bundles/anonymouscobra/css/iCheck/all.css')}}" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <!-- <link href="{{ asset('bundles/anonymouscobra/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" 
            rel="stylesheet" type="text/css" /> -->
            <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
            <!-- Theme style -->
            <link href="{{ asset('bundles/anonymouscobra/css/style.css')}}" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{{ asset('bundles/anonymouscobra/css/Mycss/modalcss.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
