{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '::base.html.twig' %}


{% block body %}

    {{ form_errors(form) }}

    {% form_theme form _self %}


    {% render url("sonata_user_profile_edit_authentication") %}
{% endblock %}
